{% load clean_title %}
<!DOCTYPE html>
<html>

<head>
    <title> {% clean_title title %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <a href="{% url 'logout' %}"> <Button> Logout </Button></a>
    <a href="{% url 'tailor_management_system:dashboard' %}"> <Button> Home Page </Button></a>
    <a href="{% url 'client:client_add' %}"> <Button> Add Client </Button></a>
    <h2>Clients</h2>
    {% for client in clients %}
    <ul>
        <li>
            <div>
                <a href="{% url 'client:client_detail' client.id%}">{{ client.name }}</a></br></br>
                <a href="{% url 'client:client_update' client.id%}"><Button> Update </Button></a></br></br>
                <a href="{% url 'order:order_add' client.id%}"><Button> Add Order </Button></a></br></br>
                <a href="#" id="{{ client.id }}"><Button> Delete </Button></a>
                </br></br>
            </div>
        </li>
    </ul>
    <script>
        $(document).ready(function () {
            $('#{{ client.id }}').click(function () {
                var url = "{% url 'client:client_delete' %}"
                var id = "{{ client.id }}"
                var intId = parseInt(id)
                var data = { id: intId, csrfmiddlewaretoken: '{{ csrf_token }}', contentType: 'application/json' }
                $.post(url, data, function (data, status) {
                    console.log(`${data} and status is ${status}`)
                    location.reload(true)
                })
            })
        })
    </script>
    {% endfor %}
</body>

</html>