<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
</head>

<body>
    <a href="{% url 'logout' %}"> <Button> Logout </Button></a>
    <a href="{% url 'tailor_management_system:dashboard' %}"> <Button> Dashboard </Button></a>
    <h2>Product Images</h2>
    <a
        href="{% url 'product:product_detail' product.id%}"></br>Product Title: {{ product.title }}</a></br></br>
    <ul>
        {% for k,v in product_images.items %}
        <li>
            {% if v %}
            <div>
                <img src="{{ v.url }}">
            </div>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    </br></br>
    <a href="{% url 'product:product_images_update' product.id%}">Update Images</a>
</body>

</html>