<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>
    <a href="{% url 'logout' %}"> <Button> Logout </Button></a>
    <a href="{% url 'product:product_add' %}"> <Button> Add Product </Button></a>
    <a href="{% url 'tailor_management_system:dashboard' %}"> <Button> Dashboard </Button></a>
    <h2>Products</h2>
    {% for product in products %}
    <ul>
        <li>
            <div>
                <a href="{% url 'product:product_detail' product.id%}"></br>Product: {{ product.title }}</a></br></br>
                <a href="{% url 'product:product_update' product.id%}"><Button> Update </Button></a></br></br>
                <a href="#" id="{{ product.id }}"><Button> Delete</Button></a>
                </br></br>
            </div>
        </li>
    </ul>
    <script>
        $(document).ready(function () {
            const url = "{% url 'product:product_delete' %}"
            var id = "{{ product.id }}"
            var intId = parseInt(id)
            const data = { id: intId, csrfmiddlewaretoken: '{{ csrf_token }}', contentType: 'application/json' }
            $('#{{ product.id }}').click(function () {
                $.post(url, data, function (data, status) {
                    console.log(`${data} and status is ${status}`)
                    location.reload(true)
                })
            })

        })
    </script>
    {% endfor %}
</body>

</html>