{% load clean_title %}
<!DOCTYPE html>
<html>

<head>
        <title> {% clean_title title %}</title>
</head>

<body>
        <a href="{% url 'logout' %}"> <Button> Logout </Button></a>
        <a href="{% url 'product:products' %}"> <Button> Product List </Button></a>
        <h2>Product Details</h2>

        <table>
                <tr>
                        <td>Title:</td>
                        <td>{{ product.title }}</td>
                </tr>
                <tr>
                        <td>Type:</td>
                        <td>{{ product.product_type }}</td>
                </tr>
                <tr>
                        <td>Stock:</td>
                        <td>{{ product.stock }}</td>
                </tr>
                <tr>
                        <td>Date Added:</td>
                        <td>{{ product.date_added }}</td>
                </tr>
                <tr>
                        <td>Price:</td>
                        <td>{{ product.price }}</td>
                </tr>
        </table>
        {% if has_images %}
        <a href="{% url 'product:product_images' product.id%}"><Button> View Images </Button></a></br></br>
        {% else %}
        <a href="{% url 'product:product_images_add' product.id%}"><Button> Add Images </Button></a></br></br>
        {% endif %}
</body>

</html>